body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
.home,.about{
  display: flex;
  margin: 50px ;
}
.title{
  font-size: 30px;
  color: rgb(9, 172, 236);
}

.information{
  width: 60%;
  align-items: center;
  margin-top: 8%;
  margin-left: 50px;
}

