
h2{
    font-size: 2rem;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact-content{
    background-color: rgb(56, 55, 55);
    width: 420px;
    height: 480px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 3px;
    padding-left: 80px;
}
.contact-container{
    background-color: rgb(82, 79, 79);
    width: 500px;
    height: 480px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.contact-content span b{
    color: #4dc7d9; 
    font-size: 20px;
}

.contact-content span{
    color: #f4f6f7; 
}

 form input{
    padding: 10px;
    margin: 10px;
    width: 90%;
    height: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0);

 }

 form textarea{
    padding: 10px;
    margin: 10px;
    width: 90%;
    height: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0); 
 }



button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    margin-left: 40%;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    padding: 0em;
    background: linear-gradient(to bottom, #5bd9ec 0%,#97c3ff 100%);
    cursor: pointer;
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button:hover span {
    scale: 0;
    font-size: 0%;
    opacity: 0;
    transition: all 0.5s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(43, 169, 228, 0.897);
    width: 54px;
    height: 54px;
  }
  
  button:hover svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    transform: rotate(45deg);
  }
  
  